<div class="login">
    <h1>Registration</h1>
        <input type="text" [(ngModel)]="user.pseudo" placeholder="Username" required="required" />
        <input type="text" [(ngModel)]="user.email" placeholder="Email" required="required" />
        <input type="password" [(ngModel)]="user.password" placeholder="Password" required="required" />
        <input type="password"[(ngModel)]="passwordCheck" placeholder="Password confirm" required="required" />
        <button  (click)="registerUser()" class="btn btn-primary btn-block btn-large">Register</button>
</div>

