
<h1>Send Message To : {{recipient.username}}</h1>
<md-input-container>
<textarea mdInput [(ngModel)]="messageContent"></textarea>
</md-input-container>
<button md-button (click)="sendMessage()">Send</button>