
<md-list-item>
<md-icon md-list-icon>comment</md-icon>
<p md-line> {{comment.imageTitle}}</p>
        <p md-line>{{comment.content}}</p>
        <span *ngIf="ownProfile">
        <md-icon class="create" md-list-icon  (click)="updateCommentBool = !updateCommentBool">create</md-icon>
        <p md-line>
        <md-input-container *ngIf="updateCommentBool">
            <textarea mdInput [(ngModel)]="commentContent"></textarea>
            <button md-line md-button (click)="updateComment(comment.id)">Update</button>
        </md-input-container>
        </p>

        </span>
        </md-list-item>