<span *ngIf="album">
<h3>{{album.title}}</h3>
<md-list>
    <md-list-item *ngFor="let image of album.images">
        <img [src]="image.src" [routerLink]="['/image', image.id]">
    </md-list-item>
</md-list>
</span>