<perfect-scrollbar class="container" [config]="config" >
    <div class="comments" *ngIf="comments != null">
            <div *ngFor="let comment of comments">
                <comment [comment]="comment"></comment>
            </div>
    </div>
</perfect-scrollbar>

<md-card  *ngIf="image != null" class="imageContent">
    <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>{{image.title}}</md-card-title>
        <md-card-subtitle>Auteur : {{image.author}}</md-card-subtitle>
    </md-card-header>
    <img md-card-image [src]="image.src">
    <md-card-actions>
        <button md-button (click)="displayAddComment = !displayAddComment">Ajouter un commentaire</button>
        <md-icon (click)="addLike()">thumb_up</md-icon>{{image.like}}
        <md-icon (click)="addDislike()">thumb_down</md-icon>{{image.dislike}}
    </md-card-actions>
    <md-card-content *ngIf="displayAddComment">
        <md-input-container>
            <textarea mdInput [(ngModel)]="commentContent"></textarea>
        </md-input-container>
        <button md-button (click)="addComment()">Envoyer</button>
    </md-card-content>
</md-card>