<!-- <p>
  <button (click)="login()"  *ngIf="!authService.isLoggedIn">Login</button>
  <button (click)="logout()" *ngIf="authService.isLoggedIn">Logout</button>
</p> -->
<span [hidden]="authService.isLoggedIn">
  <md-input-container class="example-full-width">
    <!-- <md-icon>face</md-icon> -->
    <input mdInput [(ngModel)]="username" placeholder="Username">
  </md-input-container>
  <md-input-container class="example-full-width">
    <input mdInput type="password" [(ngModel)]="password" placeholder="Password">
</md-input-container>
</span>
  <button md-button (click)="login()"  *ngIf="!authService.isLoggedIn">Login</button>
  <button md-button (click)="logout()" *ngIf="authService.isLoggedIn">Logout</button>