<h1>{{user.username}}</h1>
<div *ngIf="!ownProfile">
   <span [hidden]="isFriend" > <button md-button  (click)="addFriend()">Ajouter Ami</button></span>
   <span [hidden]="!isFriend" > <button md-button (click)="removeFriend()">Supprimer Ami</button></span>
    <!-- <button md-button (click)="sendMessage()">Envoyer Message</button> -->
</div>
<md-list>
	<h4 md-subheader>Friend List</h4>
    <md-list-item *ngFor="let friend of friendList">
        <md-icon md-list-icon>person</md-icon>
        <p md-line (click)="goToProfile(friend)">{{friend.username}}</p>
    </md-list-item>
</md-list>
<md-list>
	<h4 md-subheader>Albums</h4>
    <md-list-item *ngFor="let album of albums">
        <md-icon md-list-icon>album</md-icon>
        <p md-line (click)="setAlbumName(album.title)" [routerLink]="['/album', album.id]">{{album.title}}</p>
    </md-list-item>
</md-list>
<md-list>
	<h4 md-subheader>Comments</h4>
    <md-list-item *ngFor="let comment of comments">
    	<update-comment [ownProfile]="ownProfile" [comment]="comment"></update-comment>
    </md-list-item>
</md-list>

