<md-toolbar color="primary">
    <a routerLink='home'><md-icon>home</md-icon></a>
    <a  md-button routerLink='login'>Log In</a>
    <a md-button routerLink='register'>Register</a>
    <a md-button (click)="setProfileValueAtOwn()" routerLink='myProfile'>My Profile</a>
    <a routerLink='upload'><md-icon>input</md-icon></a>
     <input title="Rechercher" type="text" 
               [(ngModel)]="searchWord" (keyup.enter)="search()" myAutofocus/>
        <md-icon class="red-picto" (click)="search()">search</md-icon>
</md-toolbar>