@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';

a {
    text-decoration: none;
}

md-icon {
    color : white;
}

custom-image {
    display: -webkit-flex !important;
    display: -moz-flex !important;
    display: -ms-flexbox !important;
    display: -o-flex !important;
    display: flex !important;
}