<md-radio-group class="radio-group" [(ngModel)]="createOrSelectAlbum">
  <md-radio-button [value]="1"><h3> Selectionner Album</h3>
  <span  *ngIf="createOrSelectAlbum==1">
    <md-select placeholder="Album" [(ngModel)]="selectedAlbum">
      <md-option *ngFor="let album of userAlbumList" [value]="album.title">
        {{ album.title }}
      </md-option>
    </md-select>
    
    </span>
  </md-radio-button>
  <md-radio-button [value]="2"><h3>Créer Album</h3>
<md-input-container *ngIf="createOrSelectAlbum==2" class="example-full-width">
    <input mdInput placeholder="Album name" [(ngModel)]="albumName">
    <button md-button (click)="addAlbum()">Ajouter</button>
</md-input-container></md-radio-button>
</md-radio-group>





<h3>Upload Image</h3>
<input type="file" (change)="fileSelected($event.target.files[0])">
<button md-button (click)="upload()">Upload</button>

<!-- <image-upload
  [max]="100"
  [url]="'http://teaminsta.ddns.net/image/doUpload'"
  [headers]="[
    {header: 'Authorization', value: 'MyToken'}
  ]"
  [buttonCaption]="'Select Images!'"
  [dropBoxMessage]="'Drop your images here!'"
></image-upload>
 <form method="POST" enctype="multipart/form-data" action="http://teaminsta.ddns.net/doUpload">
        <table>
            <tr><td>Album:</td><td><input type="text" name="album_name" /></td></tr>
            <tr><td>Pseudo:</td><td><input type="text" name="pseudo" /></td></tr>
            <tr><td>Title:</td><td><input type="text" name="title" /></td></tr>
            <tr><td>File to upload:</td><td><input type="file" name="fileUpload" /></td></tr>
            <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
        </table>
    </form> -->